body {
    margin-left: 1%;
    font-family: Helvetica;
}
.header {
    background-image: url("/resources/pattern.jpeg"); 
    height:100px;
}
h1 {
    color: khaki;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}
.brush {
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    background-color: mediumspringgreen;
    position: relative;
    display: block;
    line-height: 40px;
}
.frame {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    background-color: lightcoral;
    position: relative;
    display: block;
    line-height: 40px;
}
.walanafinnishna {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    background-color: skyblue;
    position: relative;
    display: block;
    line-height: 40px;
}
h3 {
    font-size: 22px;
}
.first,
.second,
.third {
      font-weight: bold;
      color: blue;
      font-size: 16px;
}